<h1>{{album?.name}}</h1>
<p>Full track listing for {{album?.name}}</p>
<p>Click the <mat-icon mat-list-icon >queue_music</mat-icon> to <strong>add</strong> song to your favorites list</p>
<mat-card>
    <mat-card-content fxLayout="row wrap" fxLayout.xs="column">
        <div fxflex><img [src]="album?.images[1].url" alt="album cover" [style.margin]="'10px'" [style.max-width]="'90%'" /></div>
        <div fxFlex>
            <div [style.min-width]="'300px'" [style.margin]="'10px'">
                <strong>Record Label: </strong>{{album?.label}}<br />
                <strong>Release Date: </strong> {{dateConversion(album?.release_date)}}<br /><br />
                <strong>Tracks:</strong> {{album?.total_tracks}}<br />
                <strong>Popularity: </strong>{{album?.popularity}}<br /><br />
                    
                <mat-chip-list aria-label="Artist selection" *ngFor="let name of album?.artists">
                    <a style="text-decoration: none;" [routerLink]="['/artist', name.id]"><mat-chip >{{name.name}}</mat-chip></a>
                </mat-chip-list>
                <br />
                <div *ngFor="let cpr of album?.copyrights">
                <div>{{cpr.text}}</div>
            </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br /><br />
<h2>Track Listing</h2>

<mat-list *ngFor="let track of album?.tracks.items; index as i;">
    <!-- Single "Responsive" Material List Item-->
    <mat-list-item>
        <mat-icon mat-list-icon mat-list-icon (click)="addToFavourites(track.id)">queue_music</mat-icon>
        <div mat-line>
            <mat-card>
                
                <mat-card-content>{{i+1}}: {{track.name}} - {{durationToMin(track.duration_ms)}} <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
                    <div *ngIf="track.preview_url"><br /><audio controls [src]="track.preview_url"></audio></div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-list-item>
    <!-- -->
</mat-list>